body {
    /*background-color:red;*/
    font-family: "Myriad Pro", Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.0rem;
    font-weight:100;
    margin:0 auto;
    padding:0;
}

#site-title {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight:normal;
    color:black;
    margin:0 auto;
    margin-top:40px;
    
}

#site-title a:link, #site-title a:visited {
    text-decoration: none;
    color: black;
}

#site-description {
    text-align: center;
    /*margin-bottom: 20px;*/
    margin-top:10px;
}

.post-title-in-list:link, .post-title-in-list:visited {
    text-decoration: none;
    color: #08c;
    font-size:20px;
    font-weight:normal;
    margin-left:20px;
    /*margin-top:40px;*/
}

#post-list {
    border:1px solid lightgrey;
    width:61.8%;
    margin:0 auto;
    margin-top:40px;
}

#post-title {
    text-align: center;
    font-size: 40px;
    border-bottom: 1px dashed lightgrey;
    width:61.8%;
    margin:0 auto;
    padding-bottom:5px;
    margin-bottom:20px;
    margin-top:40px;
    font-weight:100;
}

#post-content {
    width:61.8%;
    margin:0 auto;
    line-height:1.3;
    margin-bottom:100px;
}

#post-content a:link, #post-content a:visited{
    text-decoration: none;
    color: #08c;
}

